In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj= Series([1,2,3,4])

In [4]:
obj

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2= Series([100,200,300,100] , index=['Pru','Shra','Rem','Kok'])

In [8]:
obj2

Pru     100
Shra    200
Rem     300
Kok     100
dtype: int64

In [9]:
obj2[2]

300

In [10]:
obj2['Pru']

100

In [11]:
obj2[obj2 > 200]

Rem    300
dtype: int64

In [12]:
'Pru' in obj2 # to check if it is there in the series

True

In [14]:
obj2d= obj2.to_dict() # converting it to dictionary
obj2d

{'Kok': 100, 'Pru': 100, 'Rem': 300, 'Shra': 200}

In [4]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [5]:
nfl_frame=pd.read_clipboard()  # wen u copy something from a page, in is stored in clip board, hence read_clipboard

In [6]:
nfl_frame

Empty DataFrame
Columns: [http://localhost:8888/tree?token=6a351c4e9114cb32e59639928a823618f2b3c028e510b031]
Index: []

In [7]:
nfl_frame.columns

Index([u'http://localhost:8888/tree?token=6a351c4e9114cb32e59639928a823618f2b3c028e510b031'], dtype='object')

In [8]:
nfl_frame['Total Games ']

KeyError: 'Total Games '

In [ ]:
DataFrame(nfl_frame, columns=['Rank ','Team ','Total Games '])

In [9]:
nfl_frame.describe()

        http://localhost:8888/tree?token=6a351c4e9114cb32e59639928a823618f2b3c028e510b031
count                                                   0
unique                                                  0

In [25]:
nfl_frame.head(3) # first 3 rows

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North

In [26]:
nfl_frame.tail(2) # last two rows

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [28]:
nfl_frame['Stadium']=np.zeros(5)

In [29]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0.0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,0.0
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,0.0
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,0.0
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,0.0

In [30]:
stad=Series(['QW','WE'], index=[1,2])

In [31]:
nfl_frame['Stadium']=stad  # to delete stadium del nfl_frame['Stadium']

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,NaN
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,QW
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,WE
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,NaN

In [34]:
from numpy.random import randn

In [35]:
ser= Series([1,2,3,4,5] , index=['A','B','C','D','E'])

In [36]:
ser1= ser.reindex(['A','B','C','D','E','F','G'])  # gives NA value for those which do not have values

In [37]:
ser1

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
G    NaN
dtype: float64

In [38]:
s= Series(np.arange(5), index=['a','b','c','d','e'])

In [39]:
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [41]:
s.drop('c')

a    0
b    1
d    3
e    4
dtype: int32

In [42]:
df1= DataFrame(np.arange(9).reshape((3,3)), index=['sf','la','ny'], columns=['pop','size','year'])

In [43]:
df1

    pop  size  year
sf    0     1     2
la    3     4     5
ny    6     7     8

In [44]:
df1.drop('year', axis=1) #axis=1 is columns, axis=0 is rows, which is default

    pop  size
sf    0     1
la    3     4
ny    6     7

In [45]:
ser=Series(np.arange(3), index=['A','B','C'])

In [46]:
ser

A    0
B    1
C    2
dtype: int32

In [47]:
ser1=2*ser
ser1

A    0
B    2
C    4
dtype: int32

In [48]:
ser1[[1,2]]

B    2
C    4
dtype: int32

In [49]:
ser1[1:3]

B    2
C    4
dtype: int32

In [1]:
from numpy.random import randn

In [4]:
s2= Series(randn(10))

In [5]:
s2

0   -0.137938
1   -2.064681
2   -1.415268
3    0.594302
4   -1.034417
5   -0.493399
6   -0.700200
7    0.682070
8   -0.171037
9    0.249110
dtype: float64

In [7]:
s2.sort_values()

1   -2.064681
2   -1.415268
4   -1.034417
6   -0.700200
5   -0.493399
8   -0.171037
0   -0.137938
9    0.249110
3    0.594302
7    0.682070
dtype: float64

In [8]:
s2.rank()

1     1.0
2     2.0
4     3.0
6     4.0
5     5.0
8     6.0
0     7.0
9     8.0
3     9.0
7    10.0
dtype: float64


S=Series(randn(3))

In [9]:
S=Series(randn(3))

In [10]:
S

0    1.147657
1    0.995383
2   -0.151040
dtype: float64

In [16]:
arr= np.array([[1,2,np.nan],[3,4,np.nan]])

In [17]:
df= DataFrame(arr, index=['A','B'],columns=['One','Two','Three'])

In [18]:
df

   One  Two  Three
A  1.0  2.0    NaN
B  3.0  4.0    NaN

In [19]:
df.sum() #ignores null value

One      4.0
Two      6.0
Three    0.0
dtype: float64

In [20]:
df.sum(axis=1) #sum across columns

A    3.0
B    7.0
dtype: float64

In [22]:
df.idxmin() # index of minimumvalues in each column

One        A
Two        A
Three    NaN
dtype: object

In [24]:
df.describe() #data statistics

            One       Two  Three
count  2.000000  2.000000    0.0
mean   2.000000  3.000000    NaN
std    1.414214  1.414214    NaN
min    1.000000  2.000000    NaN
25%    1.500000  2.500000    NaN
50%    2.000000  3.000000    NaN
75%    2.500000  3.500000    NaN
max    3.000000  4.000000    NaN

In [31]:
from pandas_datareader import data

import datetime

ImportError: No module named pandas_datareader

In [ ]:
prices = pdweb.get_data_yahoo(['CVX','XOM','BP'], start=datetime.datetime(2010,1,1) ,end= datetime.datetime(2013,1,1))['Adj Close']

prices.head()

In [32]:
data= Series(['One','Two',np.nan, 'Four'])

In [33]:
data

0     One
1     Two
2     NaN
3    Four
dtype: object

In [34]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [35]:
data.dropna()

0     One
1     Two
3    Four
dtype: object

In [36]:
data

0     One
1     Two
2     NaN
3    Four
dtype: object

In [10]:
S= Series(['w','w','x','g','k','k','k','l'])

In [12]:
S.unique()

array(['w', 'x', 'g', 'k', 'l'], dtype=object)

In [13]:
S.value_counts()

k    3
w    2
l    1
g    1
x    1
dtype: int64

In [18]:
df= DataFrame([[1,2,np.nan],[3,4,np.nan],[np.nan,5,8]])

In [19]:
df

     0  1    2
0  1.0  2  NaN
1  3.0  4  NaN
2  NaN  5  8.0

In [21]:
df.dropna()

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [22]:
df.dropna(axis=1)

   1
0  2
1  4
2  5

In [23]:
df.fillna(1) #replace na with 1

     0  1    2
0  1.0  2  1.0
1  3.0  4  1.0
2  1.0  5  8.0

In [24]:
s= Series(np.arange(5), index=[[1,1,2,2,2],['a','b','c','d','e']]) #subindex

In [25]:
s

1  a    0
   b    1
2  c    2
   d    3
   e    4
dtype: int32

In [26]:
s[1]

a    0
b    1
dtype: int32

In [27]:
s[2]

c    2
d    3
e    4
dtype: int32